@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Cormorant+Garamond:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Cormorant Garamond', serif;
    background: url("./nebo_zakat_gradient_170507_1440x2560.jpg") ;

}

.random{
   display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.container{
    max-width: 1170px;

}

h2{
  font-weight: 600;
  font-size: 26px;
    margin: 60px 60px 15px 60px;
    color: white;
}
.desc-random{
    font-weight: 500;
    font-size: 20px;
    margin: 15px 60px 60px 85px;
    color: white;
}
.btn{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #46b2e1;
    margin: 15px 0 15px 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 16px;
    position: absolute;
    left: 635px;
    bottom: 434px;

}

.box{
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 50px;

}
.input{
    margin: 15px 0 15px 70px;
    padding: 5px;
    position: relative;


}